<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer deploy </title>
</head>
<body>

    
    <h1 style="text-align: center;"> Hola esta es mi primera página web🏋🏻‍♂️</h1>   

    <h2>Realizando mi primer deploy</h2>

    <p style="color: rgb(102, 38, 38);">Gracias al curso de programación de SocialOplesk pude realizar mi primera página web utilizando como frontend la herramienta de HTML 
        <p style="color: rgb(102, 38, 38);"> utilizando como Backend el lenguaje de programación Python, y uniendo estas tecnologias mediante Visual Studio Code. </p>

    <h3>He aprendido habilidades y destrezas que me ayudaran a desarrollarme dentro del mundo digital de manera profesional👩🏻‍💻</h3>

    <h4>Este es mi segundo certificado🥈</h4>

    <h5 style="color: rgb(200, 100, 0);">Muy agradecida por la paciencia, y el empeño que colocan en la enseñanza</h5>

    
   
    <h6>By: Eliana de Medina</h6>
</body>
</html>